[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
mypy = "==0.950"
typed-ast = "*"
flake8 = "==4.0.1"
flake8-test-name = "*"
flake8-import-order = "*"
flake8-multiline-containers = "*"
flake8-bugbear = "*"
pep8-naming = "*"
flake8-commas = "*"

[dev-packages]

[requires]
python_version = "3.7"
