name: Dev

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: 3.7
      - name: Install pipenv
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
      - name: Install requirements
        run: pipenv install --ignore-pipfile --system
      - name: Run flake8
        run: flake8 .
      - name: Run mypy
        run: mypy .
      - name: Run pytest
        run: pytest .
      - name: Send telegram message
        uses: appleboy/telegram-action@master
        if: ${{ failure() }}
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            FAIL
            ${{ github.actor }} created commit:
            Repository: https://github.com/${{ github.repository }}
            See action: https://github.com/${{ github.repository }}/actions/runs/${{github.run_id}}
      - name: Send telegram message Ian
        uses: appleboy/telegram-action@master
        if: ${{ failure() && github.actor == 'lightspeed69' }}
        with:
          to: ${{ secrets.TELEGRAM_IAN }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            FAIL
            ${{ github.actor }} created commit:
            Repository: https://github.com/${{ github.repository }}
            See action: https://github.com/${{ github.repository }}/actions/runs/${{github.run_id}}
